
@font-face {
    font-family: plus_jakarta;
    src: url(/fonts/plus_jakarta/PlusJakartaSans-ExtraBold.ttf) format('truetype');
    font-weight: 800;
}

@font-face {
    font-family: plus_jakarta;
    src: url(/fonts/plus_jakarta/PlusJakartaSans-Bold.ttf) format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: plus_jakarta;
    src: url(/fonts/plus_jakarta/PlusJakartaSans-SemiBold.ttf) format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: plus_jakarta;
    src: url(/fonts/plus_jakarta/PlusJakartaSans-Medium.ttf) format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: plus_jakarta;
    src: url(/fonts/plus_jakarta/PlusJakartaSans-Regular.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: nunito;
    src: url(/fonts/Nunito/Nunito-SemiBold.ttf) format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: exotc350;
    src: url(/fonts/Exotc350/Exotc350\ Bd\ BT\ Bold.ttf) format('truetype');
}

@import "tailwindcss";


@theme {

    --color-brand: #0098da;
    --color-brand-50: #ffffff;
    --color-brand-100: #4f46e5;
    --color-brand-150: #fff4e1;
    --color-brand-200: #1e293b;
    --color-brand-250: #475569;
    --color-brand-300: #eef2ff;
    --color-brand-350: #fff1f2;
    --color-brand-400: #f43f5e;
    --color-brand-450: #f8fafc;
    --color-brand-500: #cbd5e1;
    --color-brand-550: #22c55e;
    --color-brand-600: #da0000;
    --color-brand-650: #00da5e;
    --color-brand-700: #fcaf08;
    --color-brand-750: #e5e2e2;
    --color-brand-800: #c6cdd5;
    --color-brand-850: #94a3bb;
    --color-brand-900: #e2e8f0;
    --color-brand-950: #d1d5db;
    --color-brand-1000: #f9f9f9;
    --color-brand-1050: #909fb6;
    --color-brand-1100: #be123c;
    --color-brand-1150: #15803d;
    --color-brand-1200: #b1b1b1;
    --color-brand-1250: #f5f7fa;
    --color-brand-1300: #7987ff;
    --color-brand-1350: #312e81;
    --color-brand-1400: #4f46e5;
    --color-brand-1450: #64748b;


    --spacing-623: 623px;
    --spacing-502: 502px;
    --spacing-592: 592px;
    --spacing-540: 540px;
    --spacing-586: 586px;
    --spacing-480: 480px;
    --spacing-463: 463px;
    --spacing-424: 424.42px;
    --spacing-422: 422px;
    --spacing-862: 862px;
    --spacing-965: 965px;
    --spacing-96: 96px;
    --spacing-68: 68px;
    --spacing-906: 906px;
    --spacing-198: 198.58px;
    --spacing-1116: 1116px;
    --spacing-1543: 1543px;
    --spacing-117: 117px;
    --spacing-342: 342px;
    --spacing-316: 316px;


    --container-696: 696px;
    --container-656: 656px;
    --container-616: 616px;
    --container-660: 660px;
    --container-684: 684px;
    --container-542: 542px;
    --container-529: 529px;
    --container-543: 543.45px;
    --container-308: 308px;
    --container-312: 312px;
    --container-320: 320px;
    --container-351: 351px;
    --container-1336: 1336px;
    --container-1304: 1304px;
    --container-1055: 1055px;
    --container-1416: 1416px;
    --container-1724: 1724px;


    --text-64: 64px;
    --text-80: 80px;


    --tracking-1: -0.42px;
    --tracking-2: -0.504px;

    --font-plus_jakarta: plus_jakarta, sans-serif;
    --font-nunito: nunito, sans-serif;
    --font-exotc350: exotc350, sans-serif
}